* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-color: #f3c623;
}

@font-face {
  font-family: "Oswald";
  src: url("../../static/fonts/oswald/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Reem Kufi";
  src: url("../../static/fonts/reem_kufi/ReemKufi-Regular.ttf");
}

.social-icon {
  transition: all 0.2s ease-in-out;
}

.social-icon:hover {
  color: #f3c623 !important;
}

.img-project {
  transition: all 0.2s ease-in-out;
  height: auto;
  max-width: 100%;
  display: block;
  width: 100%;
  transform: scale(1.05);
}

.img-project:hover {
  opacity: 0.1;
}
