* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.social-icon {
  transition: all 0.2s ease-in-out;
}

.social-icon:hover {
  color: #f3c623 !important;
}

.img-project {
  transition: all 0.2s ease-in-out;
  height: auto;
  max-width: 100%;
  display: block;
  width: 100%;
  opacity: 0.4;
  transform: scale(1.05);
}

.img-project:hover {
  opacity: 0.8;
}
.projectButton:hover .hoveringArrow {
  opacity: 1;
  transform: translateX(230%);
}
